---

    import ViaparcApp from '../img/ViaparcApp.webp'
    import MagicPabsApp from '../img/MagicPabsApp.jpg'
    import LoteriaScraping from '../img/LoteriaScraping.jpg'
    import EleccioBelleo from '../img/EleccioBelleo.jpg'
    import Tailwind from '../icons/Tailwind.astro'
    import HTML from '../icons/HTML.astro'
    import CSS from '../icons/CSS.astro'
    import Angular from '../icons/Angular.astro'
    import TypeScript from '../icons/TypeScript.astro'
    import Spring from '../icons/Spring.astro'
    import Mongo from '../icons/Mongo.astro'
    import SocialPill from './SocialPill.astro'
    import Java from '../icons/Java.astro'
    import MySQL from '../icons/MySQL.astro'
    import CSharp from '../icons/CSharp.astro'
    import Android from '../icons/Android.astro'
    import Selenium from '../icons/Selenium.astro'
    import Python from '../icons/Python.astro'
    import React from '../icons/React.astro'

    const TAGS = {
        TAILWIND: {
            name: 'Tailwind CSS',
            //class: 'bg-[#003159] text-white',
            class: 'bg-white text-black',
            icon: Tailwind
        },
        HTML: {
            name: 'HTML',
            class: 'bg-white text-black',
            icon: HTML
        },
        CSS: {
            name: 'CSS',
            //class: 'bg-[#0761ab] text-white',
            class: 'bg-white text-black',
            icon: CSS
        },
        ANGULAR: {
            name: 'Angular',
            class: 'bg-white text-black',
            icon: Angular
        },
        TYPESCRIPT: {
            name: 'TypeScript',
            class: 'bg-white text-black',
            icon: TypeScript
        },
        SPRING: {
            name: 'SpringBoot',
            class: 'bg-white text-black',
            icon: Spring
        },
        MONGO: {
            name: 'MongoDB',
            class: 'bg-white text-black',
            icon: Mongo
        },
        JAVA:{
            name: 'Java',
            class: 'bg-white text-black',
            icon: Java
        },
        MYSQL:{
            name: 'MySQL',
            class: 'bg-white text-black',
            icon: MySQL
        },
        CSHARP:{
            name: 'C#',
            class: 'bg-white text-black',
            icon: CSharp
        },
        ANDROID:{
            name: 'Android Studio',
            class: 'bg-white text-black',
            icon: Android
        },
        SELENIUM:{
            name: 'Selenium',
            class: 'bg-white text-black',
            icon: Selenium
        },
        PYTHON:{
            name: 'Python',
            class: 'bg-white text-black',
            icon: Python
        },
        REACT:{
            name: 'React',
            class: 'bg-white text-black',
            icon: React
        }
    }

    const projects = [
        {
            title: 'Viaparc - App',
            description: 'Intranet de la hoguera Via Parc Vistahermosa. Suite de aplicaciones para la gestion de una comisión de fiestas de Alicante.',
            link: 'https://viaparc.web.app',
            github: '',
            image: ViaparcApp,
            tags: [TAGS.HTML, TAGS.CSS, TAGS.TYPESCRIPT, TAGS.ANGULAR, TAGS.TAILWIND, TAGS.SPRING, TAGS.MONGO]
        },
        {
            title: 'Magic Pabs App',
            description: 'Trabajo final del grado de Desarrollo de Aplicaciones Multiplataforma. Una aplicación de escritorio y una aplicación para Android desde la cual gestionar espectáculos de Magia.',
            link: '',
            github: 'https://github.com/Pabs33/Magic-Pabs-App',
            image: MagicPabsApp,
            tags: [TAGS.JAVA, TAGS.MYSQL, TAGS.CSHARP, TAGS.ANDROID]
        },
        {
            title: 'Scraping Loteria',
            description: 'Aplicacion de python de CLI para automatizar la obtencion del resultado de 2 numeros de la loteria nacional.',
            link: '',
            github: 'https://github.com/Pabs33/ScrapingLoteria',
            image: LoteriaScraping,
            tags: [TAGS.PYTHON, TAGS.SELENIUM]
        },
        {
            title: 'Elecció Belleo',
            description: 'Aplicación web para la gestión de la elección del Belleo de la federación de fogueres del sector norte de Alicante.',
            link: 'https://elecciobelleo.vercel.app/',
            github: '',
            image: EleccioBelleo,
            tags: [TAGS.HTML, TAGS.CSS, TAGS.REACT, TAGS.TAILWIND]
        }
    ]
---

{
    projects.map(project => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2 mt-2">{project.title}</h3>
            <p class="text-lg mb-4 text-pretty">{project.description}</p>
            <div class="flex flex-row gap-3">
                {project.link && (
                    <nav class="flex gap-4 mt-6 flex-wrap mb-6">
                        <SocialPill href={project.link}>
                            Visita la applicacion
                        </SocialPill>
                    </nav>
                )}
                {project.github && (
                    <nav class="flex gap-4 mt-6 flex-wrap mb-6">
                        <SocialPill href={project.github}>
                            Visita el repositorio
                        </SocialPill>
                    </nav>
                )}
            </div>
            <ul class="flex gap-x-2 flex-wrap mb-2">
                {
                    project.tags.map(tag => (
                        <li>
                            <span class={`flex gap-x-2 rounded-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                                <tag.icon class="size-4"/>
                                {tag.name}
                            </span>
                        </li>
                    ))
                }
            </ul>
            <img src={project.image.src} alt={project.title} class="rounded shadow-2xl shadow-white/10"/>
        </article>
    ))
}